
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
// /Home/Login
<h1>This view was rendered at: @DateTime.Now.ToString()</h1>

///Home/Login (current date & time is displayed 5 times)
@{ 
    for (int i = 1; i <= 5; i++)
    {
        <h2>Iteration: @i, Current Date and Time is:
                       @DateTime.Now.ToString()</h2>
    }
}

@Html.Partial("MenuWidget")
